.ChannelList {
  font-size: 16pt;
  text-decoration: none;
  font-family: Slack-lato;
}

.ChannelList ul li {
  color: white;
  list-style: none;
  padding: 8px;
  text-decoration: none;
}

.ChannelList ul li.channelActive {
  background-color: #4C9689;
  text-decoration: none;
}

.ChannelList ul .channelListLink {
  text-decoration: none;
}

.ChannelList ul li span {
  padding: 5px;
  text-decoration: none;
}

.ChannelList .createChannel {
  color: white;
  text-decoration: none;
}

span.hashtag {
  font-family: Slack;
}


.ChannelList .logout {
  display: flex;
  font-size: 16pt;
  background-color: white;
  align-self: center;
  align-items: center;
}
