.ChannelMessageForm {
/*
  display: flex;
  flex-direction: row;
  */
  margin-top: 20px;
  margin-bottom: 10px;
}

.ChannelMessageForm input.MessageInput {
  float: left;
  font-size: 16pt;
  padding: 10px;
/*
  flex: 0.8 1;
  flex-grow: 3;
*/
  margin-left: 10px;
  height: 40px;
  width: auto;
  min-width: 500px;
  max-width: 2000px;
}

.ChannelMessageForm input.MessageSubmit {
  float: left;
  font-size: 16pt;
  padding: 10px 20px;
  margin-left: 15px;
/*
  flex: 0.2 1;
*/
  min-width: 100px;
}
