.Channel {
  flex: 0.8 1;
  background-color: #FFFFFF;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.Channel .header {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  align-items: flex-start ;
  margin-left: 40px;
  font-size: 18pt;
}

.Channel .header .hashtag {
  font-family: Slack;
}
